.Services {
    ul {
        padding-left: 70px;
    }
    li {
        padding: 10px;
        position: relative;
        right: 20px;
    }
}

@media screen and (max-width: 500px) {
    .Services {
        li {
            font-size: 14px;
        }
    }
 }