.About {
    background-color: black;
    padding: 100px 60px 30px 60px;
    color: white;
    display: flex;
    p {
        position: relative;
        left: 30px;
        width: 90%;
    }
    img {
        display: flex;
        width: 250px;
    }
    .imageContainer {
        display: flex;
        flex-direction: column;
        gap: 34px;
        img {
            width: 344px;
            padding: 5px 0px;
        }
    }
    .descriptionServicesContainer {
        padding-left: 38px;
    }
}