.About {
    padding: 100px 60px 30px 60px;
    color: white;
    display: flex;
    p {
        position: relative;
        left: 30px;
        width: 90%;
    }
    img {
        display: flex;
        width: 250px;
    }
    .imageContainer {
        display: flex;
        flex-direction: column;
        gap: 34px;
        img {
            width: 344px;
            padding: 5px 0px;
        }
    }
    .descriptionServicesContainer {
        padding-left: 38px;
    }
}

@media screen and (max-width: 866px) {
    .About {
        flex-direction: column;
        .descriptionServicesContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
        p {
            left: 0px;
        }
        }
        .imageContainer {
            align-items: center;
        }
        img {
            padding: 15px 0px;
        }
        .descriptionServicesContainer {
            padding-left: 0px;
        }
    }
    .Services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .About {
        padding: 0px 0px;
            .imageContainer {
            img {
                width: 280px;
            }
        }
        p {
            font-size: 14px;
            width: 59%;
            left: 0px;
        }
    }
    .Services {
        ul {
            width: 65%;
        }
    }
}