header {
    position: sticky;
    top: 0;
    background-color: black;
    text-align: end;
    z-index: 1000;
    img {
        display: flex;
        width: 240px;
        position: relative;
        top: 10px;
    }
    a {
        position: relative;
        bottom: 30px;
        padding: 10px;
        right: 20px;
        color: #6d89f0;
        text-decoration: none;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #6d89f0;
            transition: width 0.3s ease-in-out; /* Animation de la largeur */
        }
        &:hover::before {
            width: 100%; /* La ligne progresse de gauche à droite */
        }
    }
}
