.carousel-container {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 10px;
    min-width: 680px;
    height: 577px;
    img {
        min-width: 680px;
        height: 554px;
        object-fit: cover;
        border-radius: 10px;
    }
    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}