.carousel-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .cards {
            height: auto;
            object-fit: cover;
            border-radius: 10px;
            width: 100%;
            max-width: 100%;
        }
    }
    .controlsButton {
        background-color: transparent;
        border: none;
        color: #5E17EA;
        font-size: 55px;
        position: relative;
        bottom: 157px;
        padding: 0px 40px;
        transition: transform 0.3s ease-in-out;
    }
    .controlsButton:hover {
        transform: scale(1.5); /* taille au survol */
        cursor: pointer;
      }

    .githubLogo {
        width: 100px;
        position: relative;
        top: 18px;
        transition: transform 0.3s ease-in-out; /* Ajout de la transition */
    }

    .githubLogo:hover {
      transform: scale(1.1); /* taille au survol */
    }

    .carousel {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 55%;

    .figure-container {
        width: 100%;
        overflow: hidden;
        max-height: 675px;
        align-items: center;
        border-radius: 20px;
    }

    img {
        min-width: 100%;
    }

    .description {
        text-align: center;
        width: 70%;
        height: 100%;
    }
    }
}

@media screen and (max-width: 866px) {
    .carousel-container {
        width: 100%;
    }
}
