.Works {
    display: flex;
    flex-direction: column;
    align-items: center;
img {
    width: 250px;
    margin-bottom: 17px;
}
}

@media screen and (max-width: 866px) {
    .Works {
        width: 100%;
    }
}